<html>
<body>

Hello, {{loginName}}! </br>

<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<form action="/create-beer-input" method="post">
    <input type="hidden" value="{{id}}" name="beerId"/>
    <input type="text" placeholder="Beer Name" name="enterBeerName"/>
    <input type="text" placeholder="Brewery" name="enterBrewery"/>
    <input type="text" placeholder="Year" name="enterYear"/>
    <input type="text" placeholder="State" name="enterState"/>
    <input type="text" placeholder="Tasted?" name="enterTasted"/>
</form>

<br>

</br>

<ol>
    {{#beers}}
    <li>
        Beer: {{beer}}  Brewery: {{brewery}} Year: {{year}} State: {{state}} Tasted: {{tasted}}
        <form action="delete-beer" method="post"><input type="hidden" value="{{beerId}}" name="deleteBeerId"><button> Delete </button> </form>
        <a href="/edit-beer-input?beerId={{beerId}}"> Edit </a>...<br>
    </li>
    {{/beers}}
</ol>

</body>
</html>